<p id="notice"><%= notice %></p>

<h1>Colormixes</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Red</th>
      <th>Gree</th>
      <th>Blue</th>
      <th>Finalcolor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colormixes.each do |colormix| %>
      <tr>
        <td><%= colormix.red %></td>
        <td><%= colormix.gree %></td>
        <td><%= colormix.blue %></td>
        <td><%= colormix.finalcolor %></td>
        <td><%= link_to 'Show', colormix %></td>
        <td><%= link_to 'Edit', edit_colormix_path(colormix) %></td>
        <td><%= link_to 'Destroy', colormix, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Colormix', new_colormix_path %> -->

<input type="text" value="0" class="dial" name="red">

<input  type="text" value="0" class="dial" name="green">

<input  type="text" value="0" class="dial" name="blue">

<h1>
  RGB (<span class="colors" id="red">0</span>, <span class="colors" id="green">0</span>, <span class="colors" id="blue">0</span>)

</h1>

<div class="square">

</div>

<style>
  .square{
    height: 300px;
    width: 600px;
    border: 1px solid black;

  }
</style>

<script>
$(document).on('turbolinks:load',function() {
  $(".dial").knob({
    'min':0,
    'max':256,
    'change' : function (v) {
      $("span#"+this.$.attr('name')).html(Math.round(Number(v)));

      red = $("#red").html();
      green = $("#green").html();
      blue = $("#blue").html();

      $(".square").css("background", "rgb("+red+","+green+","+blue+")");
      console.log("rgb("+red+","+green+","+blue+")");

    }

  });
});
//
// $(".colors").change(function(){
//   red = $("#red").html();
//   green = $("#green").html();
//   blue = $("#blue").html();
//   $(".square").css("background-color", "rgb("+red+","+green+","+blue")
//   ");
// }
// );


</script>
