<p id="notice"><%= notice %></p>

<p>
  <strong>Red:</strong>
  <%= @colormix.red %>
</p>

<p>
  <strong>Gree:</strong>
  <%= @colormix.gree %>
</p>

<p>
  <strong>Blue:</strong>
  <%= @colormix.blue %>
</p>

<p>
  <strong>Finalcolor:</strong>
  <%= @colormix.finalcolor %>
</p>

<%= link_to 'Edit', edit_colormix_path(@colormix) %> |
<%= link_to 'Back', colormixes_path %>
